MINIMAL-TEST-QDRANT.json
{
  "name": "MINIMAL TEST: Direct Qdrant Upload",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "// Create 2 test documents\nconst docs = [\n  {\n    json: {\n      pageContent: 'HELD Sambia 2in1 Touring Gloves. Waterproof touring glove. Price: €139.95',\n      metadata: {\n        product_id: 'test-001',\n        name: 'HELD Sambia Gloves',\n        price: 139.95\n      }\n    }\n  },\n  {\n    json: {\n      pageContent: 'HELD Aeroste Jacket. Premium leather motorcycle jacket. Price: €599.95',\n      metadata: {\n        product_id: 'test-002',\n        name: 'HELD Aeroste Jacket',\n        price: 599.95\n      }\n    }\n  }\n];\n\nconsole.log('📄 Test documents:', docs);\nreturn docs;"
      },
      "id": "create-docs",
      "name": "Create Test Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "embeddings",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [600, 500]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "test_direct"
        },
        "qdrantCollectionName": "test_direct",
        "qdrantURL": "http://qdrant:6333",
        "options": {}
      },
      "id": "qdrant",
      "name": "Qdrant Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [800, 400]
    },
    {
      "parameters": {
        "jsCode": "console.log('✅ Test complete!');\nreturn [{ json: { success: true, items: $input.all().length } }];"
      },
      "id": "done",
      "name": "Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Create Test Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Docs": {
      "main": [
        [
          {
            "node": "Qdrant Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Store": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}