minimal-test.json
{
  "name": "Minimal OAuth Test",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://shop.held.de/api/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "SWIANEPSMGTHMLJMT1BHEFAZNW"
            },
            {
              "name": "client_secret",
              "value": "UVJKRGFWZENoVW9OY1ZuUktYNkN6NFRucVNVQU1VR1B0cElhUzE"
            }
          ]
        }
      },
      "id": "oauth",
      "name": "OAuth Test",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 400]
    },
    {
      "parameters": {
        "url": "=https://shop.held.de/api/product?page=1&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "fetch",
      "name": "Fetch 5 Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconsole.log('✅ SUCCESS!');\nconsole.log('Products fetched:', data.data?.length || 0);\nconsole.log('Total available:', data.total || 0);\nconsole.log('Sample product:', data.data?.[0]?.name || 'N/A');\nreturn [{ json: { success: true, count: data.data?.length || 0, total: data.total || 0 } }];"
      },
      "id": "result",
      "name": "Show Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "OAuth Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OAuth Test": {
      "main": [
        [
          {
            "node": "Fetch 5 Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 5 Products": {
      "main": [
        [
          {
            "node": "Show Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}