simple-qdrant-test.json
{
  "name": "Simple Qdrant API Test",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://qdrant:6333/collections",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "list-collections",
      "name": "List Qdrant Collections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const result = $json;\nconsole.log('\\n📋 QDRANT COLLECTIONS:');\nconsole.log('=====================');\n\nif (result.result && result.result.collections) {\n  result.result.collections.forEach(col => {\n    console.log(`- ${col.name}`);\n  });\n} else {\n  console.log('No collections found or error:', result);\n}\n\nconsole.log('\\n✅ Qdrant is accessible!');\nreturn [{ json: result }];"
      },
      "id": "show-result",
      "name": "Show Collections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "List Qdrant Collections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Qdrant Collections": {
      "main": [
        [
          {
            "node": "Show Collections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}