TEST-NO-CREDENTIALS.json
{
  "name": "TEST: Shopware Fetch Only",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://shop.held.de/api/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "SWIANEPSMGTHMLJMT1BHEFAZNW"
            },
            {
              "name": "client_secret",
              "value": "UVJKRGFWZENoVW9OY1ZuUktYNkN6NFRucVNVQU1VR1B0cElhUzE"
            }
          ]
        }
      },
      "id": "oauth",
      "name": "Get OAuth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 400]
    },
    {
      "parameters": {
        "url": "https://shop.held.de/api/product?limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        }
      },
      "id": "fetch",
      "name": "Fetch 5 Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 400]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconsole.log('\\n📊 TEST RESULTS:');\nconsole.log('================');\nconsole.log('Total products:', response.total);\nconsole.log('Products fetched:', response.data?.length || 0);\n\nif (response.data && response.data.length > 0) {\n  console.log('\\n📦 First product:');\n  const product = response.data[0];\n  console.log('- Name:', product.name);\n  console.log('- SKU:', product.productNumber);\n  console.log('- Price:', product.price?.gross);\n}\n\nreturn [{ json: { success: true, productCount: response.data?.length || 0 } }];"
      },
      "id": "log",
      "name": "Log Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get OAuth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OAuth Token": {
      "main": [
        [
          {
            "node": "Fetch 5 Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 5 Products": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}